<div class="card">
    <div class="card-title">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row mt-4">
            <div class="col-4 text-center">
            <p class="card-text text-muted">Total project files *</p>
            </div>
            <div class="col-4">
            <p class="card-text text-muted">Writing progression</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <h5 class="card-date text-secondary text-left mt-3">* : Last update : ** lab.arbitratedAt |
                app_date('non-updated') **</h5>
            </div>
        </div>
    </div>
</div>
